.logo-title {
	font-family: 'Chicle', cursive;
	font-size: 4.5rem;
	/*color: #6d4c3d;*/
	color: #337ab7;
}
.logo-title :first-child {
	font-family: 'Henny Penny', cursive;
	font-size: 4rem;
	margin-right:.5rem;
}

.fixed-header .logo-title { font-size: 3rem; }
.fixed-header .logo-title :first-child { font-size: 2.5rem; margin-right:.25rem; }

.header-top {
	height: 45px;
}

.mozaic-banners-wrapper.type-2 a.mozaic-banner-entry:before {
	background: #FDFDFD !important;
	opacity: 0.8;
}
.mozaic-banners-wrapper.type-2 a.mozaic-banner-entry:hover:before {
	background: rgba(109, 76, 61, 0.7) !important;
}

.tabs-container {
     margin-bottom: 0; 
}

.information-blocks {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
	header.type-4 .header-middle .right-entries {
		top: -30px;
	}
	header.type-4 .header-middle .open-cart-popup:before {
	    height: 49px;
	}
}

@media (max-width: 1199px) {
	.menu-button {
		top: 11px;
	}
	.header-middle .right-entries {
		display: none;
	}
}

/* Tablets (>=768px)*/
@media (max-width: 991px) {	
}

/*Phones (<768px)*/
@media (min-width: 768px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

