 <div class="sidebar-navigation">
    <div class="title">All Categories</div>
    <div>
        {% for category in craft.categories %}
            <a href="{{ category.url }}" class="level-{{ category.level }}">
                <span>
                    <i class="fa fa-angle-right"></i>{% if category.level == 1 %}<strong>{{ category.title }}</strong>{% else %}{{ category.title}}{% endif %}
                </span>
            </a>
        {% endfor %}
    </div>
</div>