 <div class="sidebar-navigation">
    <div class="title">All Categories<i class="fa fa-angle-down"></i></div>
    <div class="list">
        {% for category in craft.categories %}
            <a class="entry" href="{{ category.url }}"><span><i class="fa fa-angle-right"></i>{{ category.title }}</span></a>
        {% endfor %}
        {# <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Evening dresses</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Jackets and coats</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Tops and Sweatshirts</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Blouses and shirts</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Trousers and Shorts</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Evening dresses</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Jackets and coats</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Tops and Sweatshirts</span></a>
        <a class="entry" href="#"><span><i class="fa fa-angle-right"></i>Blouses and shirts</span></a> #}
    </div>
</div>