<div class="header-wrapper style-14">
    <header class="type-4">
        <div class="header-top">
           {#  <div class="header-top-entry">
                <div class="title"><img src="assets/img/flag-lang-1.png" alt="" />English<i class="fa fa-caret-down"></i></div>
                <div class="list">
                    <a href="#" class="list-entry"><img src="assets/img/flag-lang-2.png" alt="" />French</a>
                    <a href="#" class="list-entry"><img src="assets/img/flag-lang-3.png" alt="" />Spanish</a>
                </div>
            </div>
            <div class="header-top-entry">
                <div class="title"><b>Currency:</b> $ USD<i class="fa fa-caret-down"></i></div>
                <div class="list">
                    <a href="#" class="list-entry">$ CAD</a>
                    <a href="#" class="list-entry">&#8364; EUR</a>
                </div>
            </div>
            <div class="header-top-entry hidden-xs">
                <div class="title"><i class="fa fa-phone"></i>Any question? Call Us <a href="tel:+987123654"><b>+987 123 654</b></a></div>
            </div>  #}
            
            <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
            <div class="clear"></div>
        </div>

        <div class="header-middle">
            <div class="logo-wrapper">
              {#   <a id="logo" href="#"><img src="assets/img/logo-12.png" alt="" /></a> #}
                <a href="{{ currentSite.baseUrl }}"><h1 class="logo-title"><span>Trade</span><span>Worm</span></h1></a>
               
            </div>

            <div class="right-entries">
                {# <a class="header-functionality-entry open-search-popup" href="#"><i class="fa fa-search"></i><span>Search</span></a>
                <a class="header-functionality-entry" href="#"><i class="fa fa-copy"></i><span>Compare</span></a>
                <a class="header-functionality-entry" href="#"><i class="fa fa-heart-o"></i><span>Wishlist</span></a>
                <a class="header-functionality-entry open-cart-popup" href="#"><i class="fa fa-shopping-cart"></i><span>My Cart</span> <b>$255,99</b></a> #}

                <a class="header-functionality-entry" href="#"><i class="fa fa-sign-in"></i><span>Login</span></a>
                <a class="header-functionality-entry open-cart-popup" href="#"><b>5</b> <span>Trades</span> </a>
            </div>

        </div>

        <div class="close-header-layer"></div>
        
        <!-- NAV -->
        {% embed "_includes/nav" %}{% endembed %}


    </header>
    <div class="clear"></div>
</div>