{% extends "_layouts/main" %}

{% block content %}

    {% set catSlug = craft.request.getSegment(2) %}
    {% if not catSlug %}
        {% set catSlug = craft.request.getSegment(1) %}
    {% endif %}
    {% set category = craft.categories.slug(catSlug).one() %}

    {# {% set products = craft.entries.section('products').relatedTo(category) %} #}
    {% set products = craft.entries.section('products') %}

    {% if category.level > 1 %}
        {% set parent = category.parent() %}
        {% set categoryImage = parent.categoryImage %}
        {% set subtitle = parent.title %}
    {% else %}
        {% set categoryImage = category.categoryImage %}
        {% set subtitle = 'Category' %}
    {% endif %}

    <div>
        <div class="row">
            <div class="col-md-9 information-entry">

                <div class="hero">
                    <div class="hero-content">
                        <span class="subtitle">{{ subtitle }}</span>
                        <span class="title">{{ category.title }}</span>
                    </div>
                    <div class="hero-background"{% if categoryImage.count() > 0 %} style="background-image: url('{{ categoryImage.one().url }}'); background-size: cover;"{% endif %}></div>
                </div>

                {# {% include "products/_large-row" with { products: products | slice(0, 4) } %}
                {% include "products/_large-row" with { products: products | slice(4, 4) } %}
                {% include "products/_large-row" with { products: products | slice(8, 4) } %}
                {% include "products/_large-row" with { products: products | slice(12, 4) } %} #}

                {% include "products/_large-row" with { products: products | slice(0, 4) } %}
                {% include "products/_large-row" with { products: products | slice(1, 4) } %}
                {% include "products/_large-row" with { products: products | slice(2, 4) } %}
                
            </div>

            <div class="col-md-3 information-entry">
    			{% embed "_includes/categories" %}{% endembed %}
            </div>

        </div>

        <div class="border-spacer"></div>

        {% include "products/_small-row" with { products: products | slice(0, 3) } %}
        {% include "products/_small-row" with { products: products | slice(1, 3) } %}
        {% include "products/_small-row" with { products: products | slice(2, 3) } %}
        {% include "products/_small-row" with { products: products | slice(3, 3) } %}
        {% include "products/_small-row" with { products: products | slice(0, 3) } %}
        {% include "products/_small-row" with { products: products | slice(1, 3) } %}

    </div>

{% endblock %}