<div class="product-value">
    <i class="fas fa-dollar-sign active"></i>
    <i class="fas fa-dollar-sign{% if val >= 55 %} active{% endif %}"></i>
    <i class="fas fa-dollar-sign{% if val >= 250 %} active{% endif %}"></i>
    <i class="fas fa-dollar-sign{% if val >= 700 %} active{% endif %}"></i>
    <i class="fas fa-dollar-sign{% if val >= 1000 %} active{% endif %}"></i>
</div>