<div class="rating-box">
    <div class="star active"><i class="fa fa-usd"></i></div>
    <div class="star{% if val >= 55 %} active{% endif %}"><i class="fa fa-usd"></i></div>
    <div class="star{% if val >= 250 %} active{% endif %}"><i class="fa fa-usd"></i></div>
    <div class="star{% if val >= 700 %} active{% endif %}"><i class="fa fa-usd"></i></div>
    <div class="star{% if val >= 1000 %} active{% endif %}"><i class="fa fa-usd"></i></div>
</div>