{% extends "_layouts/main" %}

{% set entry = craft.entries.slug('homepage').one() %}
{% set products = craft.entries.section("products").order('entries.dateCreated desc').limit(20) %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-lg-9">

			{# FEATURED CATEGORIES #}
			<div class="row">
				{% for cat in entry.featuredCategories %}
		    		<div class="col-md-6">
		                {% if cat.categoryImage.count() > 0 %}
		                    {% set catImgUrl = cat.categoryImage.one().url %}
		                {% else %}
		                    {% set catImgUrl = 'assets/img/bags-3.jpg' %}
		                {% endif %}
		                <a href="{{ cat.url }}" style="background-image: url('{{ catImgUrl }}'); background-size: cover;" class="featured-category">
		                    <span class="featured-category-content">
		                        <span class="subtitle">Category</span>
		                        <span class="title">{{ cat.title }}</span>
		                        <span class="view">view {{ cat.title }}</span>
		                    </span>
		                </a>
		            </div>
		    	{% endfor %}
			</div>

			{# NEW ARRIVALS #}
			<div class="new-arrivals">
				<h3>New Arrivals</h3> 
				{% include "products/_large-row" with { products: products | slice(0, 4) } %}
				{% include "products/_large-row" with { products: products | slice(4, 4) } %}
			</div>
			
			{# CTASs #}
			<div class="row">
                <div class="col-lg-6">
                    <div class="cta cta-style-1">
                        <div class="cta-frame">
                            <h4 class="title">What goes here?</h4>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisc eiusmod. Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-lg-6">
                    <div class="cta cta-style-2">
                        <div class="cta-frame">
                            <h4 class="title">I just don't know</h4>
                            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisc eiusmod. Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
			
		</div>

		{# CATEGORY LIST #}
		<div class="col-md-4 col-lg-3">
			{% embed "_includes/categories" %}{% endembed %}
		</div>

	</div>

	{# MORE PRODUCTS #}
	<div class="border-spacer"></div>
	{# {% include "products/_small-row" with { products: products | slice(8, 3) } %}
	{% include "products/_small-row" with { products: products | slice(11, 3) } %}
	{% include "products/_small-row" with { products: products | slice(14, 3) } %}
	{% include "products/_small-row" with { products: products | slice(17, 3) } %} #}
	{% include "products/_small-row" with { products: products | slice(0, 3) } %}
	{% include "products/_small-row" with { products: products | slice(3, 3) } %}
	{% include "products/_small-row" with { products: products | slice(0, 3) } %}
	{% include "products/_small-row" with { products: products | slice(3, 3) } %}

{% endblock %}